#shows6{
    background: #FFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 0px;
    color: #333;
    position: absolute;
    top: 40px;
    right: 0px;
    width: 250px;
    text-align: center;
    font-size: 12px;
    opacity: 0;
    transition: 1s;
    visibility: hidden
}
#shows6::before{
    content: "";
    position: absolute;
    border-width: 10px;
    border-color: transparent transparent #FFF transparent;
    border-style: solid;
    top: -20px;
    right: 0px
}
.category{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(pic/pexels-curtis-adams-3773574.jpg);
}
table{
    width: 90%;
    margin: 50px auto 50px auto;
    text-align: center;
    padding-bottom: 10px
}
table tr,th{
    border: 1px solid #e4e4e4;
}
table th{
    padding: 15px 0px;
}
.table-text td{
    padding: 20px 0px;
    border-bottom: 1px solid #e4e4e4;
}
.table-line td{
    padding: 20px;
}
tr .first{
    padding: 0 10px;
    border-right: 1px solid #e4e4e4
}

@media(max-width:576px){
    table th{
        font-size: 10px
    }
    table .first{
        display: none
    }
    .table-text td{
        font-size: 10px
    }
}

























